<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442619974988-57a4u7fstel0en511qe3hso3dldatis7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442619974988-57a4u7fstel0en511qe3hso3dldatis7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>442619974988-fog7kq5ckeq1f2cik26j1m8vekt28slr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuxFMNHwhzn3dntlyYAW_6bnPgWO6yHj8</string>
	<key>GCM_SENDER_ID</key>
	<string>442619974988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.events4me.events4me</string>
	<key>PROJECT_ID</key>
	<string>events4me-563e3</string>
	<key>STORAGE_BUCKET</key>
	<string>events4me-563e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442619974988:ios:c472007ce053a510aa6be9</string>
</dict>
</plist>